:root {
  --bg-dark: hsl(205, 45%, 40%);
  --shadow: hsl(0, 0%, 10%);
  --text: hsl(25, 80%, 80%);
  --title: hsl(0, 0%, 95%);
  --bg-light: hsl(0, 0%, 85%);
  --text-muted: hsl(25, 80%, 65%);
  --primary: hsl(4, 85%, 30%);
  --secondary: hsl(4, 85%, 50%);
  --danger:;
  --warning:;
  --success:;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-size: normal;
  box-sizing: border-box;
  color: inherit;
  background-color: inherit;
}

body {
  font-family: "Bitcount Prop Single", system-ui;
  font-weight: 600;
  background-color: var(--bg-dark);
  color: var(--text);
}

#viewport {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header {
  color: var(--title);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  z-index: 5;
}

#body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

#toy {
  display: grid;
  grid-template: 30px 70px 1fr 100px 30px / 30px 1fr 30px;
  height: 800px;
  width: 1000px;
  border-radius: 6px;
  box-shadow: 0px 8px 8px 2px var(--shadow), 0px 0px 48px 4px hsl(4, 85%, 20%) inset;
  background-color: var(--primary);
  margin: 48px;
}

#bezel-left, #bezel-right, #bezel-top, #bezel-bottom {
  background-color: transparent;
  border-radius: 2px;
  height: 100%;
  width: 100%;
}

#bezel-left, #bezel-right {
  grid-row: 2 / 5;
}

#bezel-top, #bezel-bottom {
  grid-column: 2 / 3;
}

#bezel-top {
  grid-row: 1;
  border-bottom: 3px solid hsl(4, 85%, 31%);
}

#bezel-left {
  grid-column: 1;
  border-right: 3px solid hsl(0, 0%, 90%, 75%);
}

#bezel-bottom {
  grid-row: 5;
  border-top: 3px solid hsl(4, 85%, 31%);
}

#bezel-right {
  grid-column: 3;
  border-left: 3px solid hsl(0, 0%, 90%, 75%);
}

#title {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-family: "Playwrite NO", cursive;
}
#screen {
  grid-row: 3;
  grid-column: 2;
  display: flex;
  height: 552px;
  width: 800px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: var(--bg-light);
  box-shadow: 0px 0px 12px var(--shadow) inset;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

#knobs {
  grid-column: 2;
  grid-row: 4;
  display: flex;
  justify-content: space-between;
}

#knob-left, #knob-right {
  display: flex;
  justify-content: space-between;
  color: var(--shadow);
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: var(--bg-light);
  box-shadow: 4px 8px 8px 2px var(--shadow);
  font-size: 24px;
  font-weight: 300;
  padding: 12px;
  border-top: 2px solid hsl(0, 0%, 25%);
  border-left: 2px solid hsl(0, 0%, 20%);
  border-bottom: 2px solid hsl(0, 0%, 10%);
  border-right: 2px solid hsl(0, 0%, 15%);
}

#footer {
  display: grid;
  margin-top: auto;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 14px;
  padding: 48px 0;
}

.credit, .license, .contact, .socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.credit, .license, .contact {
  flex-direction: column;
}

.credit {
  grid-column: 2;
}

.license {
  grid-column: 1;
}

.contact {
  grid-column: 3;
}

.icon {
  margin: 8px;
  height: 24px;
  width: auto;
}

